html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .pagecontainer {
    width: 100%;
    height: 100%;
    background-color: #9E6F6D;
  }


/*    Bloc 1     */


  .Bloc1 {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
  }

  .Bloc1-1 {
    background-color: #FFF4F1;
    height: 100%;
    width: 60%;
    padding: 100px;
  }

  .Bloc1-1 .bar {
    margin-block: 30px;
  }
  
  .Bloc1-1 h2{
    margin-top: 50px;
    color: #FFF4F1;
    text-decoration: none;
    background-color: #9E6F6D;
    padding: 15px 45px;
    border-radius: 500px;
    font-size: 20px;
    width: 420px;
  }

  .Bloc1-2 {
    display: flex;
    justify-content: space-between;
    background-color: #9E6F6D;
    height: 100%;
    width: 40%;
    padding: 50px;
  }
  
  .bar2 {
    height: 100%;
    width: 5px;
    background-color: #3C5953;
    border-radius: 50px;
  }

  .Bloc1-2-1{
    width: 450px;
    height: 550px;
  }

  .Bloc1-2-1 img {
    background-color:#FFF4F1;
    border-radius: 50px;
    width: 300px;margin-left: 60px;
  }

 .Bloc1-2-1 h1{
  margin-block: 20px;
 }



/*    Bloc 2     */



  .Bloc2 {
    background-color: #FFF4F1;
    width: 100%;
    height: 100vh;
  }

  .Bloc2-1 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px 0 200px;
  }

  .Bloc2-1 p {
    text-align: center;
  }

  .Bloc2-1 .bar {
    margin-block: 30px;
  }

  .bar2-1 {
    width: 500px;
    height: 5px;
    background-color:#9E6F6D;
    border-radius: 50px;
    margin-top: 30px;
  }
  .Bloc2-2{
    display: flex;
    height: 430px;
  }

  .Bloc2-2-1 {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px;
  }


  .Bloc2-2-2{
    padding: 50px 50px 0 50px;
    width: 50%;
    height: 100%;
    padding-right: 100px;
  }


  .Bloc2-2-2 p {
    margin-bottom: 20px;
  }
